.goodsDetails{
    width: 100%;
    background-color: #F3F5F7;
    >div{
        margin-bottom: .2rem;
        background-color: #ffffff;
    }
    .header{
        width: 100%;
        .swiper{
            width: 100%;
            touch-action: none;
            .swiper-item{
                width: 100%;
                height: 5.5rem;
            }
        }
        .goodsInfo{
            width: 100%;
            padding: .16rem .3rem;
            .name{
                color: #2D2D2D;
                font-size: .36rem;
                text-align: left;
            }
            .price{
                margin-top: .2rem;
                display: flex;
                align-items: center;
                .left{
                    display: flex;
                    align-items: baseline;
                    color: #FF285B;
                    margin-right: .2rem;
                    .symbol{
                        font-size: .24rem;
                        margin-right: .05rem;
                    }
                    .money{
                        font-size: .42rem;
                    }
                }
                .right{
                    width:1.18rem;
                    height:.5rem;
                    background:rgba(255,232,217,1);
                    border-radius:.05rem;
                    color: #FF7216;
                    font-size: .24rem;
                    line-height: .5rem;
                }
            }
            .other{
                margin-top: .2rem;
                display: flex;
                justify-content: space-between;
                color: #333333;
                font-size: .24rem;
            }
        }
    }
    .common{
        display: flex;
        padding: 0 .3rem;
        align-items: flex-start;
        .title{
            color: #2D2D2D;
            font-size: .24rem;
            margin-right: .32rem;
            line-height: normal;
            white-space: nowrap;
            padding-top: .24rem;
        }
        .content{
            color: #666666;
            font-size: .24rem;
            line-height: .38rem;
            padding: .24rem 0;
        }
        .form{
            width: 100%;
            .inputValue{
                width: 100%;
                height: .8rem;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #CCCCCC;
                margin-bottom: .2rem;
                align-items: center;
                color: #999999; 
                font-size: .24rem;
                input{
                    height: 100%;
                    color: #423f3f;
                    flex: 1;
                    border: none;
                    outline: none;
                    text-align: left;
                }
                input::-webkit-input-placeholder { /* WebKit browsers */ 

                    font-size: .24rem;
                    color: #999999; 

                } 

                input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 

                    font-size: .24rem;
                    color: #999999; 

                } 

                input::-moz-placeholder { /* Mozilla Firefox 19+ */ 

                    font-size: .24rem;
                    color: #999999; 

                } 

                input:-ms-input-placeholder { /* Internet Explorer 10+ */ 

                    font-size: .24rem;
                    color: #999999; 
 
                }
            }
        }
    }
}